@import url('../variables.css');

.buy-main {
    max-width: var(--main-content-max-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.buy-h2 {
    position: relative;
    font-size: 1.7rem;
    margin: 20px 0;
}

.buy-h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 60%;
    background-color: var(--primary-color);
}

.cards-containers {
    width: var(--main-width-percentage);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/*
===================
Productos Agregados
===================
*/
.items-added-container {
    width: var(--main-width-percentage);
    background-color: white;
    padding: 20px 15px 30px 15px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 15px gray;
}


/*
===================
Totales
===================
*/
.total-container {
    display: flex;
    padding: 25px 0;
    font-size: 1.1rem;
}
.total-h3 {
    margin-right: auto;
}
.total-cart-price {
    font-weight: bold;
}

/*
===================
WhatsApp
===================
*/
.whatsapp-container {
    display: flex;
    justify-content: end;
}
.whatsapp {
    background-color: var(--whatsapp-color);
    color: var(--light-color);
    border-radius: 30px;
    width: 200px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    transition: all var(--transitions-time) ease;
}
.whatsapp:hover {
    background-color: var(--whasapp-hover-color);
}
.bi-whatsapp {
    margin-right: 5px;
}

/*
===================
'Get to' Button
===================
*/
.get-to-order-continaer {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 2dvw;
    top: 12dvh;
    z-index: 100;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--light-color);
    border: 2px solid var(--primary-color);
}
.get-to-span {
    font-size: 1rem;
    padding: 0;
    margin-top: 0;
}
.get-to-btn {
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgb(128, 128, 128);
    background-color: white;
    color: var(--primary-color);
    font-size: 1.3rem;
    transition: all var(--transitions-time) ease;
}
.get-to-btn:hover {
    transform: translateY(7px) scale(1.1);
}


/*
===================
Media Queries
===================
*/
@media screen and (max-width: 1200px) {
    .cards-containers {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .cards-containers {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .cards-containers {
        grid-template-columns: 1fr;
    }
}