@import url('../variables.css');

.product-grid-container {
    margin: 30px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    row-gap: 40px;
}

@media screen and (max-width: 1200px) {
    .product-grid-container {
        width: 95%;
        column-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .product-grid-container {
        grid-template-columns: 1fr;
    }
}