@import url('../variables.css');
/* Algo pasa que cuando agrego la imagen o el css, al bajar a los 360 px el header se achica a menos del 100%. Tengo querevisar bien qué es */
.cien-dvw-bg-color {
    background-color: var(--order-bg-color);
    height: 25dvh;
    width: 100%;
    position: absolute;
    top: 100px;
}


/*
==============
H2 and Image
==============
*/
.welcome-title {
    width: 100%;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-h2 {
    color: var(--primary-color);
    text-transform: uppercase;
    text-shadow: 2px 2px 1px black;
    font-size: 3.2rem;
    padding: 25px;
}
.welcome-img {
    width: min(300px, 90%);
    padding: 25px 0;
}

/*
==============
Emojis
==============
*/
.bg-emojis {
    background-color: var(--order-bg-color);
    width: 99dvw;
    height: 25dvh;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.emojis {
    letter-spacing: 40px;
    font-size: 1.3rem;
}
.welcome-p-container {
    margin: 10px;
}
.welcome-p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

/*
========================================================
                Who We Are
========================================================
                                                    */
.whoweare-container {
    position: relative;
    background-color: var(--primary-color);
    width: 99dvw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*
==============
Heart Shape
==============
*/
.heart-shape {
    background-color: var(--light-color);
    height: var(--heart-width);
    width: var(--heart-width);
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%) rotate(45deg);
}
.heart-shape::before,
.heart-shape::after {
    content: '';
    width: var(--heart-width);
    height: var(--heart-width);
    border-radius: 50%;
    background-color: var(--light-color);
    position: absolute;
    top: 0;
}
.heart-shape::before {
    transform: translateY(-50%);
}
.heart-shape::after {
    transform: translateX(-50%);
}

/*
==============
Heart Text
==============
*/
.heart-text {
    max-width: 25ch;
    line-height: 35px;
    text-align: center;
    font-size: 1.3rem;
    z-index: 10;
    position: absolute;
    top: 52%;
    transform: translateY(-70%);
}

/*
==============
Media Queries
==============
*/
@media screen and (max-width: 1200px) {
    .bg-emojis, .whoweare-container {
        width: 100dvw;
    }
}
@media screen and (max-width: 500px) {
    .welcome-h2 {
        font-size: 11dvw;
    }
    .welcome-img {
        width: 65%;
    }
    .heart-shape, .heart-shape::after, .heart-shape::before {
        height: var(--heart-width-small);
        width: var(--heart-width-small);
    }
    .heart-text {
        font-size: 1rem;
        line-height: 30px;
        top: 45%;
    }
}

/*


.bg-emojis {
    background-color: var(--order-bg-color);
    width: 99dvw;
    height: 25dvh;
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.emojis {
    letter-spacing: 40px;
    font-size: 1.3rem;
}
.welcome-p-container {
    margin: 10px;
}
.welcome-p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}


@media screen and (max-width: 1200px) {
    .bg-emojis {
        width: 100%;
    }
}
*/