.product {
    color: var(--name--font-color);
    background-color: var(--description-bg-color);
    padding: 8px 8px;
    padding-bottom: 25px;
    border-radius: 15px;
    position: relative;
    transition: all .3s ease;
}
.product:hover {
    z-index: 10;
    transform: scale(1.2);
}

/*
==================
Nombre
==================
*/
.catalogo-h2 {
    width: 60%;
    font-size: 1.2rem;
    color: white;
    padding: 5px 10px;
    margin-bottom: 7px;
    background-color: var(--name--font-color);
    border-radius: 15px;
}

/*
==================
Información
==================
*/
.product-info {
    display: flex;
    gap: 15px;
}
.product-image {
    width: 40%;
    border-radius: 10px;
}

/*
==================
Description
==================
*/
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 15px;
}
.catalogo-h3 {
    font-size: .85rem;
}
.product-ingredientes {
    font-size: .8rem;
}
.product-span {
    font-weight: bold;
}

/*
==================
Infor Extra
==================
*/
.product-extra-info {
    position: absolute;
    width: 90%;
    text-align: center;
    height: var(--extra-info-height);
    border-radius: calc(var(--extra-info-height) / 2);
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--name--font-color);
    color: white;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
==================
Media Query
==================
*/

@media screen and (max-width: 900px) {
    .catalogo-h3 {
        font-size: calc(.4dvw + .9rem);
    }
    .product-ingredientes {
        font-size: calc(.2dvw + .9rem);
    }
    .product-extra-info {
        font-size: calc(2dvw + .15em);
    }
}