@import url('./variables.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url('./assets/body-bg-image.jpg');
  background-color: rgba(255, 255, 255, .7);
  background-blend-mode: lighten;
  padding-top: var(--header-height);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@media screen and (max-width: 800px) {
  body {
    padding-top: var(--header-height-800-screen);
  }
}

@media screen and (max-width: 500px) {
  body {
    padding-top: var(--header-height-500-screen);
  }
}