* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url('./assets/body-bg-image.jpg');
  background-color: rgba(255, 255, 255, .6);
  background-blend-mode: lighten;
}