:root {
    --primary-color: rgb(235, 142, 46);
    --primary-dark: rgb(200, 120, 35);
    --light-color: #f8f8f8;
    --dark-color: #333;
    --bright-color: #eee9e9;
    --gray-color: #f0f0f0;
    --order-bg-color: rgba(237, 223, 197, 0.8);
    --order-name-cg-color: rgb(236, 194, 152);
    --name-font-color: rgb(182, 111, 59);
    --border-color: rgb(217, 214, 214);
    --whatsapp-color: #25D366;
    --whasapp-hover-color: #128C7E;
    --name--font-color: rgb(182, 111, 59);
    --description-bg-color: rgb(239, 201, 162);

    /* MEDIDAS */
    --main-content-max-width: 1200px;
    --header-height: 60px;
    --header-height-800-screen: 100px;
    --header-height-500-screen: 80px;
    --main-width-percentage: 90%;
    --footer-text-gap: 8px;
    --extra-info-height: 25px;

    /* TIEMPOS */
    --transitions-time: 0.3s;
}