:root {
    --primary-color: rgb(235, 142, 46);
    --primary-dark: rgb(200, 120, 35);
    --light-color: #f8f8f8;
    --dark-color: #333;
    --bright-color: #eee9e9;
    --gray-color: #f0f0f0;

    /* MEDIDAS */
    --main-content-max-width: 1200px;
    --header-height: 60px;
    --header-height-800-screen: 100px;
    --header-height-500-screen: 80px;
}